<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Parallel Image Processing</title>
  <meta name="description" content="">
  <meta name="author" content="">

</head>
    <body>
        <h4>Parallel Image Processing</h4>
        <label for="image-input">Add Image</label>
        <form action = "http://localhost:5000/upload" method = "POST"
          enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </body>
</html>
